body{
    background-color: rgb(199, 193, 80);

}

h1{ 
    color: rgb(153, 102, 255); 
    text-shadow: 1px 2px rgb(102, 153, 0);    
    text-align: center;

}

h3{
    align-self: center;
    color: rgb(199, 80, 167);
    font-family: 'Antic Didone';
}

.picture{
    width: 30%;
    height: 20%;
    margin: 0 auto;
    border-radius: 30%;
    display: block;
}

div{
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
}

p{
    text-align: center;
    margin: 20 50 20 50
}

blockquote{
    background-color: rgb(181, 199, 80);
    font-family: 'Aguafina Script','Arial Black','Comic Sans MS';

}