body{
    padding: 30vw;
    padding-top: 10vh;
    
}

.header h3{
    text-align: center;

}

.header{
    padding: 15px;
    border: solid 1px black;
}

.input-content {
     display: flex;
     justify-content: center;
 }

 li{
     display: flex;
     justify-content: space-around;
 }

 ul li {
    /*padding: 10px 8px 10px 20px;*/
    
    
    font-size: 18px;
    
    list-style-type: none;

 }

  ul li.unchecked {
    background: #eee;
    text-decoration: none;
  }

  .list-container{
      display: flex;
      
      
  }

  .inner{
      display: flex;
      justify-content: space-between;
      /*background: #eee;*/
  }

  .inner:nth-child(even){
      background:rgb(136, 136, 136);

  }
  