body{
    display: flex;
    justify-content: center;

    margin: 15vh;
    margin: 5vw;
}

div p{
    padding-left: 25px;
}

.btn{
    display: flex;
    justify-content: center;
    
    
}
#btn{
    display: grid;
}

#count-down{
    text-align: center;
    font-size: xxx-large;
    font-family: sans-serif;

}