h6 {
    color: rgb(8, 53, 167);
    font-size: 50px;
    background-color: yellow;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: 4px solid blue;
    text-align: center; 
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-family: ;
}

h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.container > div {
  cursor: pointer;
  height: 600px;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-in;
}

.container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.container > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
  grid-column: 3 / 5;
}

.background {
  background: url('https://www.aljazeera.com/mritems/imagecache/mbdxxlarge/mritems/Images/2020/5/1/970d361a783b40538332c4d7b32c6366_18.jpg');
  overflow: hidden;  
}