body {
  margin: 20px;
  background-color: #66b3ff;
}
a {
  color: blue;
  font-weight: bold;
}
img {
  float: right;
  border-radius: 50%;
}
.image1 {
  float: right;
  position: relative;
  top: 100px;
}
#Catgirl {
  float: left;
  margin: 40px;
}
h1 {
  color: #003cb3;
}
h2 {
  color: purple;
  font-size: 20px;
}
.centered {
  position: relative;
  left: 20px;
  margin: auto;
  width: 50%;
}
ul {
  text-indent: 50px;
  list-style-type: square;
}
p {
  color: #000000;
}
