.navbar {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-item {
  min-width: 100px;
  text-align: center;
}
.nav-item > a:hover {
  text-align: center;
  background: rgb(95, 175, 182);
  border-radius: 5px;
  padding: 10px 15px !important;
}
.nav-item a {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px 15px !important;
  min-width: 100px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
