body {
  background-color: #323642;
}

a {
  cursor: pointer;
}

.headerbar {
  justify-content: center;
  display: flex;
  flex-direction: row;
  background-color: #272a33;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  align-items: center;
  height: 100%;
}

.header-item {
  padding: 20px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 40px;
  font-family: "Ostrich Sans";
  color: #ee5f95;
}

#blog-home {
  position: absolute;
  left: -5px;
  font-size: 30px;
}

#profile {
  position: absolute;
  right: 15px;
  font-size: 30px;
}

.sidebar {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #272a33;
  margin-left: -10px;
  width: 147px;
}

#sidebar-header{
  display: block;
  position: relative;
  top: -10px;
  color: #db3675;
  background-color: #090a0e;
  /* padding: 8px; */
  padding: 10px 33px;
}

.sidebar-item{
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 24px;
  color: #ee5f95;
}

.sidebar-link:hover{
  font-weight: bold;
}

.sidebar-link {
  background-color: rgb(56, 5, 13);
  padding: 12px;
  border-radius: 8px;
}

.wrapper{
  position: absolute;
  display: flex;
  top: 100px;
  left: 200px;
}

.sub-wrapper{
  display: flex;
  position: relative;
  flex-direction: column;
  left: 5%;
}

.floating-box{
  background-color: rgb(175, 201, 204);
  width: 120%;
  border: 15px solid rgb(100, 22, 32);
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
}

#top-blog-header{
  position: relative;
  text-align: center;
}

.img{
  position: relative;
  flex-direction: center;
}