{% extends 'shop/base.html' %}
{% load static %}

{%block title%}About | CannaSource{% endblock %}

{% block content %}
<div class="about-page">
    <div class="top-about">
        <div class="top-about-text">
            <h1>About CannaSource</h1>
                <p>
                Welcome to CannaSource. Our medical dispensary was built on the ideal of family, healing, and comfort. Over 20 years ago our founder was in a severe accident,
                being thrown from a moving vehicle and run over by a semi-truck. Lucky for him he lived, however; the side effects are a lifetime of constant pain.
                </p>
        </div>   
            <img class="store-pic-about" src="../../media/store/marijuana-dispensary@2x.jpg">
    </div>

    <h1>Family</h1>
        <p>
        After the accident he needed to be assisted with the most common daily functions that most of us take for granted. 
        It was several months before he could get out of bed and was then bound to a wheel chair for several more.
        His family took care of him until he healed enough to take care of himself, 
        but besides all the physical and mental damage caused by the accident, there was another issue, addiction to pain medications.
        </p>
    <h1>Healing</h1>
        <p>
            It is true our founders wounds healed, but they healed enough to cause continuous pain. The addiction to pain medication was taking a toll on his 
            severely damaged body and his family. That is when he focused on an alternative medicine. Our founder became an outspoken and determined advocate 
            for the medical marijuana movement. He spent the next several years developing and improving different alternative medicines approaches that were organic, clean, and effective.
        </p>
    <h1>Comfort</h1>
        <p>
            Our founder knew his pain was never going to go away. So the only other goal he had was comfort and longevity with life. He wanted to be as comfortable as possible without the
            side affects of the traditional pharmaceuticals available. Knowing he was not the only one experiencing immeasurable pain, he felt his mission should be to do his best to provide
            the same kind of comfort to others that needed it.
        </p>
        <br>
        <p>
            Over the last 20 years our founder has been developing his skills and knowledge to provide better medicine. Working in and growing dispensaries, as well as grow and extraction operations.
            Developing relationships with other medicine developers, and now is the founder and operator of CannaSource. At CannaSource you will always feel like you are family, we will help you in 
            your time of healing, and we will ensure to provide the best medicine possible to help you be more comfortable.
        </p>
    <h1>Location</h1>
    <div>
        <img class="map-pic" src="../../media/store/map@2x.jpg" alt="CannaSource Map Location">
    </div>
        <p>
            CannaSource is located in NE Portland just east of I-205, between NE Sandy Boulevard and NE Airport Way, off of NE 148th Avenue.
            <br><br>
            Our address is:<br>
            4435 NE 148th Ave Ste. C
            Portland, OR 97230
            <br><br>
            Phone: <a href="tel:971-254-4374">(971)-254-4374</a>
        </p>
</div>

{% endblock %}
