{% extends 'shop/base.html' %}
{% load static %}
{% load thumbnail %}

{%block title%}Welcome to YourCannaSource{% endblock %}

{% block content %}
    
    <div class="home-text">
        <h1><b>MEDICINAL MARIJUANA DISPENSARY PORTLAND</b></h1>
        <p class="home-product-links">
            <a href="/categories/edible/">Edibles</a>, 
            <a href="/categories/flower/">Flowers</a>,
            <a href="/categories/concentrate/">Concentrates</a> 
            and <a href="{% url 'online_shop:product_list' %}">more</a>!
        </p>
        <h2>Marijuana Dispensary</h2>
        <p>CannaSource provides Portland, Oregon with the <b><i>HIGHEST QUALITY</i></b> medical marijuana.
            We carry a wide variety of locally grown and processed medicinal cannabis products and offer many
            of Portland Oregon's top chosen strain of cannabis. CannaSource is Portland's premier medical marijuana dispensary.
        </p>
        <a class="home-menu-btn" href="{% url 'online_shop:product_list' %}">View Menu</a>
    </div>
    <img class="in-store-pic" src="../../media/store/Medical-Marijuana-Dispensary-Portland-04@2x.jpg">
    <div class="home-text">
        <p>
            Patients looking for <b><a href="/categories/concentrate/">Concentrates</a></b> in Portland want a great variety of flavors, choices, and percentages. 
            At CannaSource we have a lot of top Portland choice extraction companies at a great rate in one place. 
            Whether you are a full blown pro dabber or a novice, CannaSource has all your concentrate and accessories covered.
        </p>
        <p>
            Those new to the world of medicinal options or revisiting it after some time may be unfamiliar with concentrates in Portland. 
            Concentrates come in a variety of different types intended for their respective consumption methods. 
            Concentrates are well regarded for potency, as well as reduction of carcinogenic intake, making a great alternative for smokers.
        </p>
    </div>

    <div class="call">
        <p class="call-invite">
            If you have any questions related to licensing or about our menu,
            please feel free to give us a call.
        </p>
        <a href="tel:971-254-4374">(971)-254-4374</a>
            
        
    </div>

{% endblock %}