/* .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

#mapid { 
    height: 580px; 
    width: 50%; 
    border: 5px solid blue;
}

#map-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#userList{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(63, 107, 182);
    color: aliceblue;
    
    border: 5px solid orange;
}

/* #map-container{
    display: flex;
    flex-direction: row;
} */