{% extends 'base.html' %}
{% block content %}
<form class = 'mt-3' action="{% url 'add_books' %}" method="POST">
  {% csrf_token %}
  <div id='author-form' class="form-group">
    <label for="book_title">Book Title</label>
    <input type="text" class="form-control" id="book_title" name="title" placeholder="enter book title" /><br /><br />
    <input type="text" class="form-control" id="quantity" name="quantity" placeholder="enter book quantity"><br /><br />
    <input type="date" class="form-control" id="start" name="pub_date" value="2018-07-22" min="2018-01-01" max="2030-12-31"><br />
    <br />
    {%if authors%}
    <select class="form-control" name='author' id="authors">
      {%for author in authors%}
      <option value={{author.id}}>{{author}}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary mb-2 mt-3">Submit</button>
    {%endif%}
  </div>
</form>

<h5 class='text-center mt-3'><a href="http://localhost:8000/authors">Register an author</a></h5>

{% endblock %}