@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 10;
  padding: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: 'Roboto';
}

h2 {
  font-size: 45px;
  font-weight: 300;
  margin: 10px;
}

h2 span {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  /* height: 25%;
  width: 25%;    */
     
}

.container > div {
  cursor: pointer;
    background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  transition: all 0.5s ease-in;
}

.container > div:hover {
  opacity: 0.7;
  transform: scale(0.98);
}

.container > div:nth-of-type(1) {
  grid-column: 1 / 3;
}

.container > div:nth-of-type(6) {
  grid-column: 1 / 5;
}

.container > div:nth-of-type(9) {
  grid-column: 1 / 5;
}

.container > div:nth-of-type(10) {
  grid-column: 1 / 3;
}

.bg1 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e1/Hitler_portrait_crop.jpg');
  }
  
.bg2 {
    background: url('https://i.ibb.co/Fb5jb3J/bg2.jpg');
    color: rgb(197, 234, 255);
    border-radius: 100px;
  }
