body{
    background-color: rgb(32, 32, 224) !important;
}

.container{
    display: grid;
    height: 100vh;
    max-width: 100% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1.5fr 1.2fr .8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    grid-gap: .1rem;
}

nav{
    background-color: rgb(17, 17, 223) !important;
    grid-area: nav;
}

.navbar-brand{
    color: ivory !important;
}

.nav-link{
    color: ivory !important;
}

.btn{
    border-color: ivory !important;
    color: ivory !important;
}

main{
    background-image: url(images/JupiterPlanisphere_burgeot.jpg) !important;
    grid-area: main;
}

#sidebar{
    grid-area: sidebar;
    object-fit: contain;
}

#content1{
    grid-area: content1;
}

.card{
    background-color: lawngreen !important;
}

#content2{
    grid-area: content2;
}

#content3{
    height: 328px !important;
    grid-area: content3;
}

footer{
    background-image: url(/Students/cadillacjack/HTML/my_page/images/marsapan_spirit_big.jpg) !important;
    grid-area: footer;
}

a{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.carousel-inner{
    width: 50% !important;
    height: 500px !important;
    margin: auto;
    font-size: x-large;
}

.card{
    height: 580px;
}

.car-img-link{
    color: ivory !important;
    text-decoration: underline;
    font-size: xx-large;
    color: black !important;
}

.card-img-top{
    height: 328px !important;
}




@media only screen and (max-width:650px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .4fr .4fr 2.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
}