/* *{
    border: 2px solid black;
} */

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 85% 5%;
    height: 100vh;
    background-color: cornsilk;
}

h3{
    background-color: cadetblue;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color:#3a9ee1;
}
a:hover {
    color:#77b6e2;
}

#sidebar ul li.selected {
    background: cadetblue;
    border-radius:4px;
}

li{
    list-style: none;
}

li a{
    color: black;
}

#header{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
}

#header a{
    color: blue;
}
#header .logo{
    font-size: 3vw;
}

.company-logo{
    grid-row: 1;
    grid-column: 1/2;
    justify-self: center;
    overflow: auto;
    margin-left: 12%;
}

.logo-image{
    width: 65vw;
    height: 18vh;
}

#subheader{
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    font-size: 2vw;
}

#content{
    grid-row: 2;
    display: grid;
    grid-template-columns:20% 70%;
    grid-template-rows: auto;
    grid-gap: 10px;
    width: 100%;
}

#list_title{
    grid-row: 1;
    grid-column: 2/-1;
    text-align: center;
    background-color: cadetblue;
    border-radius: 25px;
    font-size: 2vw;
}

#sidebar{
    grid-row: 2;
    grid-column: 1;
    font-size: 2vw;
    color: black;
}

.product_list{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product_detail{
    grid-row: 2;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 95vw;
    align-items: center;
    margin-left: 16%;
}

.cart{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

#your-cart{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.cart-product{
    font-size: larger;
    font-weight: 600;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    overflow-wrap: break-word;
    background-color: seagreen;
    width: 25%;
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    color: white    ;
}

.product-link{
    margin: 0%;
    font-size: 2vw;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.35);
}

.info_product{
    margin: 0%;
    font-size: 2vw;
}

.item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.category_of_product:{
    background:#efefef;
}

.items_list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.img-box{
    margin-top: 5px;
    width: 90%;
}

.image{
    border-radius: 5%;
    width: 100%;
    max-height: 50%;
}

.text-right{
    text-align: right;
    grid-column: 2;
    margin-bottom: 1vh;
}

table{
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
}

table tr{
    border: 1px solid black;
}

thead{
    font-size: 3vw;
}

table th, table td {
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

thead th, tbody tr.total {
    background: cadetblue;
    color:#fff;
    font-weight:bold;
}

table.cart img {
    width:180px !important;
}

td, th{
    text-align: center;
}



.dashboard{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.variety-title{
    margin: 0%;
    font-size: 2vw;
}

.button{
    background-color: cadetblue;
    color: rgb(255, 255, 255);
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

#checkout-title{
    grid-row: 1;
    grid-column: 2/-1;
    text-align: center;
    background-color: cadetblue;
    border-radius: 25px;
    height: fit-content;
}

.order-info{
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    justify-self: center;
}

.order-form{
    grid-row: 3;
    grid-column: 2/-1;
    justify-self: center;
}

.order-info h3{
    border-radius: 25px;
}

.order-info ul{
    padding: 0%;
    text-align: center;
}

#submit-order{
    background-color: cadetblue;
    color: white;
    font-size: 20px;
}
