{% extends 'shop/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Log-in</h1>
    {% if form.errors %}
        <p>Your Username and Password did not match
            Please try again
        </p>
    {% else %}
        <p>Use the following form to login:
            If you don't have an account, you can create one <a href="{% url 'register' %}">Here.</a>
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Login"></p>
        </form>
        
       <p><a href="{% url 'password_reset' %}">Forget your password?</a></p>
    </div>
{% endblock %}