{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">  
	<title>URL Shortner</title>
</head>
<body>
	<div class="center-column">
		<h1>URL Shortner</h1>
		<form method="post"> {% csrf_token %}
			{{form.as_p}}
			<button type="submit" name = "button">Save</button>
		</form>
		<h>Copy this {{a}} Token. Replace the "Token" in this url. http://127.0.0.1:8000/Token to go your site!</h>

	</div>
</body>
</html>