{% extends 'base.html' %}
{% block content %}
    <div class = 'dashboard'>
        {% for api in api %}
        <div class= 'user_dashboard'> User: {{ api.user }} </div>
        <div class= 'box_container'>
          <div class = 'balances_box'>
            <div class = 'balances'> 
                <div class = 'BTC_balance'>BTC: {{BTC_balance}} </div>
                <div class = 'PAX_balance'>PAXG: {{PAX_balance}} </div>
                <div class = 'Account_value'>Total: {{Account_value}} BTC </div>
              </div>
          </div>
          <div class = 'pie_box'>
              <div id="account_pie" style="height: 495px; width: 29vw;"></div>
              <a href="{%url 'rebalance' %}"><button type="button" class= 'rebalance_button'>Rebalance</button></a>
          </div>
          <div class = 'settings_box'>
            <div class = 'target_percentages'>input for target %: currantly hard coded for 50/50</div>
            <div class = 'base_asset'> input for selecting from base asset options</div>
            <table class = 'table_api_resonse'> TABLE showing rebalances
              <tr>
                <th>date/time</th>
                <th>buy/sell</th>
                <th>qty</th>
              </tr>
                <td>timetime</td>
                <td>buybuybuy</td>
                <td>111111111</td>
              <tr>

              </tr>
            </table>
          </div>
        </div>  
        <div class = 'chart_container'>
          <div class = 'QUOTE_qty_chart'>chart to show the change in quote asset qty over time</div>
          <div class = 'BASE_qty_chart' id="chart_line_BTC_QTY" style="height: 495px; width: 29vw;"> </div>
          <div class = 'ACCOUNT_value_chart'>chart to show the change in account value in terms of base over time</div>
        </div>
    </div>
    
<script> 
    const balances = {{serialize_balances|safe}}
    var reverse = balances.length
    reverse = balances[reverse-1]
    reverse = reverse['fields']
    var Account_value = reverse['Account_value']
    var BTC_balance = reverse['BTC_balance']
    var PAX_value = reverse['PAX_value']
    var BTC_percentage = (BTC_balance/Account_value)*100
    BTC_percentage = BTC_percentage.toFixed(2)
    PAX_percentage = 100 - BTC_percentage


    console.log(Account_value)
    console.log(BTC_balance)
    console.log(PAX_value)      
    console.log(BTC_percentage)
    console.log(PAX_percentage)

  var chart_pie = new CanvasJS.Chart("account_pie",
    {
      backgroundColor: "#b6f83b",
      theme: "light2",
      title:{
        text: "Account Value:         BTC " + Account_value, 
        fontFamily: 'Roboto Mono',
        fontWeight: "normal"
      },
      data: [
      {
       type: "pie",
       startAngle: 60,
       dataPoints: [
       {  y: BTC_percentage, indexLabel: "Bitcoin" },
       {  y: PAX_percentage, indexLabel: "Gold" },
       ]
     }
     ]
   });
    chart_pie.render();
  // var chart_line_BTC_QTY = new CanvasJS.Chart("chart_line_BTC_QTY",
  //   {
  //     title: {
  //       text: "chart to show the change in base asset qty over time",
  //       fontSize: 25
  //     },
  //     axisX:{
  //       valueFormatString: "MMM" ,
  //       interval: 1,
  //       intervalType: "month"
  //     },
  //     axisY: {
  //       title: "Downloads"
  //     },
  //     data: [
  //     {
  //       indexLabelFontColor: "green",
  //       type: "area",
  //       dataPoints: [//array

  //       { x: new Date(2012, 00, 1), y: 2600},
  //       { x: new Date(2012, 01, 1), y: 3800 },
  //       { x: new Date(2012, 02, 1), y: 4300 },
  //       { x: new Date(2012, 03, 1), y: 2900 },
  //       { x: new Date(2012, 04, 1), y: 4100 },
  //       { x: new Date(2012, 05, 1), y: 4500 },
  //       { x: new Date(2012, 06, 1), y: 8600,  indexLabel: "Covered on Forbes" },
  //       { x: new Date(2012, 07, 1), y: 6400 },
  //       { x: new Date(2012, 08, 1), y: 5300 },
  //       { x: new Date(2012, 09, 1), y: 6000}
  //       ]
  //     }
  //     ]
  //   });
  //   chart_line_BTC_QTY.render();

</script>
  {% empty %}
  {% endfor %}
        

{% endblock %}