nav {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(230, 25, 25);
}

body {
    background-color: powderblue;
    margin: auto;
    padding: 10px;
} 

header{
    text-align: center;
    font-size: xx-large;
    margin-top: 100px;
    border: 20px solid rgb(25, 184, 51)
}

nav a {
    float: left;
    display: flex;
    color: #1bc5d1;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: xx-large;
}

nav a:hover {
    background-color: teal;
    color: tomato;
}

section {
    background-color: powderblue;
    margin: auto;
    width: 50%;
    border: 10px solid rgb(45, 39, 133);
    padding: 50px;
    text-align: center; */
    position: relative; top: 20px;
}


.manufacturer {
    background: rgb(33, 163, 62);
    width: 100%;
}

footer {
    border: 5px solid;
    padding: 5px;
}

.flex-container {
    display: flex;
    /* flex-direction: column; */
    background-color: blue;
    border: blueviolet;
    border-width: 10px;
    /* align-items: flex-start; */
}
    
.flex-container > div {
    background-color:white;
    width: 100px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    line-height: 75%;
}

.box-1{
    flex: 1;
}
.box-2{
    flex: 1;
}
.box-3{
    flex: 1;
}