<!DOCTYPE html>
<html>
    <head>
        <title>
            Python button script
        </title>
        
    </head>

    <body>
        {% extends 'base.html' %}
        {% block content %}
        <h1>Scan IP Address:</h1>
              
        <form action="/external/" method="post">
            {% csrf_token %}               
           Input Text:
            <input type="text" name="run_script" required><br><br>
            {{data}}
            <br><br>
            <input type="submit" value="Execute External Python Script">    
        </form>
        {% endblock %}

</html>