body{
    background-color: blanchedalmond;
}

h1{
    color: black;
    text-align: center;
}
h2{
    
    color: darkcyan;
    text-align: center;
}
li{
    list-style: none;
    text-decoration: underline;
font-style: italic;
color: rgb(30, 69, 82);
}

p{
    color: rgb(0, 174, 255);
    text-align: center;
    margin: 35px;
    padding: 15px;
    font-size: large;
    font-style: italic;

}

.pose{
    float: right;
    border-radius: 50%;
}

.wiki{
    color: rgb(18, 6, 179);
    font-size: larger
}

.amazon{
    color: black
}

.quote{
    font-family: cursive;
    font-style: italic;
    block-size: auto;
    background-color: rgb(172, 200, 218);
}

.steadman{
    width: 100%;
}
.freak_power{
    width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    text-align: center;

}
div{
    text-align: center;
}
.draw{
    font-style: italic;
}