.item1{
    background-image: url("https://cdn.mos.cms.futurecdn.net/pNhFRNzeqBsAJ4ppRGFYzd-1024-80.jpg");
    color: honeydew;
}

nav{
    background-color: transparent !important;
}
.nav-link{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.item3{
    background-color: gray !important;
    display: grid;
    max-width: 250px !important;
}

.item5{
    display: flexbox;
    flex-direction: row;
}

ul > li{
    text-decoration: underline;
    text-decoration-color: lawngreen;
    align-content: center;
}

li.nav-link{
    color: lawngreen;
}

