{% extends parent_template|default:'compendium/base_organizer.html' %}

{% block title %}
{{ block.super }} - Create Crystal
{% endblock %}

{% block content %}
<div class="content">
    <div class="notification is-primary">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-large is-fullwidth is-primary is-inverted" type="submit">Create Crystal</button>
        </form>
    </div>
</div>
{% endblock %}