{% extends parent_template|default:'compendium/base_organizer.html' %}

{% block title %}
{{ block.super }} - Update Tag
{% endblock %}

{% block content %}
<div class="content">
    <div class="notification is-primary">
        <form action="{{ tag.get_update_url }}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-large is-fullwidth is-primary is-inverted" type="submit">Update Tag</button>
        </form>
    </div>
</div>
{% endblock %}