{% extends 'base.html' %}
{% block content %}
<form enctype="multipart/form-data" action="{% url 'add_post'%}" method="POST">
    {% csrf_token %} title: <br />
    <input type="text" name="title" placeholder="enter a blog title" /><br /><br />
    <textarea name="text" id="" cols="30" rows="10"></textarea><br />
    <input type="date" id="start" name="pub_date" value="2018-07-22" min="2018-01-01" max="2030-12-31">
    <br />
    <label for="formFileMultiple" class="form-label">Add Images</label>
    <input name="my_image" class="form-control" type="file" id="formFileMultiple" multiple>
    <input type="submit" />
</form>
{% endblock %}