{% extends 'base_generic.html' %}

{% block content %}

<div>
    <h1>
        books
    </h1>
    <ul>


        {% for author in books %}
        <li>
            <a href="{% url 'book-detail' pk=author.id %}">{{ author.title }}</a>
        </li>
        <li> {{ author.author }}</li>
        <li> {{ author.publish_date }}</li>
    </ul>
    {% endfor %}
</div>
<div>
    <h1>authors</h1>
    <ul>


        {% for author in authors %}
        <li>
            {{ author }}
        </li>

        {% endfor %}
    </ul>
</div>




{% endblock %}