{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <header>NCC-2020</header>

    <div id= 'wrapper'>
        <div class='window_wrapper'>
            <div id= 'left_window'>
        </div></div>
        <div class='window_wrapper'>
            <div id= 'center_window'>
        </div></div> 
        <div class='window_wrapper'>
            <div id= 'right_window'>
        </div></div>
    </div>
   {% for image in stuff %}
   <img src={{image.image_link}}>
   <p>{{image.sol}}</p>
   <p>{{image.num}}</p>
   {% endfor %} 
</body>
<footer id= 'controal panel'>
    <button id= 'change'>warp</button>
    <button id= 'closer'>land</button>
    <button id= 'destroy'>vaperize</button>
</footer>


{% endblock %}
<script src= "{% static 'js/marsimg.js' %}"></script>