{% extends 'base.html' %}
{% load static %}
{% block content %}

   
<!-- <div class="Marscape">        -->
    
<div class='slideshow-container'>
    <div class="w3-panel w3-round-xlarge"></div>
   
        <!-- <div class='slide fade'>
            <img src='' style='width:100%; height: 100%'>
        </div> -->
        <img src id = 'first' style='width:100%'>
        <!-- <div class='slide fade'>
            <img src="" id = 'first' style='width:100%'>
        </div>

        <div class='slide fade'>
            <img src="" id='second' style='width:100%'>   
        </div>

        <div class='slide fade'>
            <img src="" id='third' style='width:100%'>   
        </div>

        <div class='slide fade'>
            <img src="" id='fourth' style='width:100%'>   
        </div>

        <div class='slide fade'>
            <img src="" id='fifth' style='width:100%'>   
        </div> -->
    </div> 
</div>
<br>
<button id="step">step</button>
<div style='text-align:center'>
    <span class="dot" onclick="test()"></span>
    <span class="dot" value=2 onclick="currentSlide(2)"></span>
    <span class="dot" value=3 onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>
<!-- </div> -->

<script>
    const dots = document.querySelectorAll('.dot')
    const images = {{serialized_image|safe}}
    console.log(images)
    console.log(dots, 'these are dots')
    let slideIndex = 1;

    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
        console.log(n)
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("slide");
        let dots = document.getElementsByClassName('dot');
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i =0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace("active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
    document.getElementById('step').addEventListener("click",
        function walking(){ 
            document.getElementById('first').setAttribute('src', images[0].fields.image_link)
        }
    );


    // const images = {{serialized_image|safe}}
    // let i = 0
    // document.getElementById('step').addEventListener("click",
    //     function walking(){  
    //         document.getElementById('first').setAttribute('src', images[i].fields.image_link)
    //         i++
    //     }
    // );

        
    </script>




{% endblock %}
