{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="Marscape"> 

        <div id = 'dots' style='text-align:center'>
            <span class="dot" index='2'></span>
            <span class="dot" index='4'></span>
            <span class="dot" index='3'></span>
            <span class="dot" index='0'></span>
            <span class="dot" index='1'></span>      
        </div> 
    <div class='helmet'>
        <div id = 'left'>
            Curiosity <br>
            landed at Gale Crater <br>
            November 26, 2011 <br><br>
            300 Mars days later, <br>
            look for Mt. Elsie <br> 
            beyond the ridge line. <br><br>
            Here, it has traveled <br>
            ~4000m
        </div>
        <div class='visor'>
            <img src id = 'first' style = 'width: {imgSize}, height: {imgSize}'>
        </div>
        <div id = 'right'>
            To take a walk on Mars,<br>
            just click any of the <br>
            buttons at the top<br><br>
            Look for the dark knot<br>
            visible on the ridge,<br>
            and the tire tracks<br>
            in the foreground

        </div>
    </div>

</div>



<script>


const mag = () => {
        console.log('mag ran')
        let image = document.getElementById('first')
        let imgSize = '1000px'
        let startingSize = 990
        let justice = 0
        let justify = '50px'
        image.style.transition =''
        image.style.width = imgSize
        image.style.height = imgSize
        image.style.left = justify
        const sleep = (milliseconds) => {
            return new Promise(resolve => setTimeout(resolve, milliseconds))
        }
        let counter = 0
        const intervalid = setInterval(()=>{
            counter ++
            dots.forEach(dot =>{
            dot.addEventListener('click', ()=> clearInterval(intervalid))
        })
            if (counter == 24){
                clearInterval(intervalid)
            }
            console.log(counter)
            if (counter > 0) {
                image.style.transition ='ease 1s'
            }
           
            startingSize += 50
            imgSize = startingSize.toString()+'px' 
            justice -= 50
            justify = justice.toString()+'px'         
            document.getElementById('first').style.width = imgSize
            document.getElementById('first').style.height = imgSize
            document.getElementById('first').style.left = justify
        },1000)
         
    }

    const images = {{serialized_image|safe}}
    
    console.log(images)
    const dots = document.querySelectorAll('.dot')
    for(let i = 0; i<dots.length; i++){
    dots[i].addEventListener('click',function trigger(event) {
        let index = event.target.attributes.index.value
        const first =document.getElementById('first')
        first.setAttribute('src', '')
        first.setAttribute('src', images[index].fields.image_link)
        first.onclick = () => mag()
        first.style.transitionDuration = '0s'

    })
    }

    let slideIndex = 1;

    showSlides(slideIndex);
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
        console.log(n)
    }


    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("slide");
        let dots = document.getElementsByClassName('dot');
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i =0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace("active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
    document.getElementById('step').addEventListener("click",
        function walking(){ 
            document.getElementById('first').setAttribute('src', images[0].fields.image_link)
        }
    );

    </script>
{% endblock %}