{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if variety %}{{ variety.name }}{% else %}Varieties{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <h3>Varieties</h3>
        <ul>
            <li {% if not variety %} class="selected"{% endif %}>
            <a href="{% url 'online_shop:variety_list' %}">All</a>
            </li>
            {% for v in varieties %}
                <li {% if variety.slug == v.slug %} class="selected"{% endif %}>
                    <a href="{{ v.get_variety_url }}">{{ v.name }}</a>
                </li>
                {% endfor %}
        </ul>
    </div>
    <div id="main" class="variety_list">
        <h1>{% if variety %}{{ variety.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
        <div class="item">
            <a href="{{ variety.get_variety_url }}">
                {% if product.image %}
                <img src="{{ product.image.url }}">
                {% else %}
                <img src="{% static '/img/no_image.png' %}">
                {% endif %}
            </a>
            <a href="{{ variety.get_variety_url }}">{{ product.name }}</a><br>
            ${{ product.price }}
        </div>
        {% endfor %}
    </div>
    {% endblock %}