@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css";

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.task-list h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.completed-task {
    text-decoration: line-through;
}


.incomplete-task:hover {
    background: pink;
}

.completed-task:hover {
    background: rgb(175, 175, 175);
}