body{
    padding: 3em;
}
.card {
    display: flex;
    justify-content:space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin: 20px;
  }
  .row{
      justify-content: center;

  }

  #