{% extends 'base.html'%}
{% block content %}
<h1>Requests</h1>

<table class="table">
    <tabehead>
    <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Title</th>
        <th>Download</th>
    </tr>
    </tabehead>
    <tablebody>
    {% for book in books%}
    <tr>
        <td>{{book.number}}</td>
        <td>{{book.date}}</td>
        <td>{{book.title}}</td>
        <td> <button><a href="{{book.pdf.url}}" class="btn-primary" target="_blank"> View</a></td></button>
    </tr>
    {% endfor %}
    </tablebody>
</table>
    
{%endblock %}