{% extends 'base.html'%}
{% block content %}
<h1>Request List</h1>

<table class="table">
    <tabehead>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Request</th>
        <th>Delete</th>
    </tr>
    </tabehead>
    <tablebody>
    {% for book in books%}
    <tr>
        <td>{{book.name}}</td>
        <td>{{book.date}}</td>
        <td>{{book.request}}</td>
        <td>             
           
            <form method="post" action="{% url 'delete_book' book.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
    </td>
    </tr>
    {% endfor %}
    </tablebody>
</table>
    
{%endblock %}