<!-- {% extends 'base.html'%}
{% block content %} -->
<h1>SM List</h1>

<table class="table">
    <tabehead>
        <tr>
            <th>Number</th>
            <th>Title</th>
            <th>Date</th>
            <th>Download</th>
        </tr>
        </tabehead>
        <tablebody>
        {% for book in books%}
        <tr>
            <td>{{book.number}}</td>
            <td>{{book.title}}</td>
            <td>{{book.date}}</td>
            <td> <a href="{{book.pdf.url}}" class="btn-primary" target="_blank"> View</a></td>
        </tr>
    {% endfor %}
    </tablebody>
</table>
<!--     
{%endblock %} -->