*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


img{
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 500px;
    width: 1300px;
    height: 900px;

}

header{
    text-align: center;
}




footer{
    display: grid;
    align-items: center;
}