


.Marscape {
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: grey;
    background-image: radial-gradient(circle farthest-side at 60% 70%,rgba(189, 105, 22, 0.993)10%,rgba(240, 148, 117, 0.993)40%,rgb(33, 28, 18)65%);
    color: rgb(22, 156, 22);
}
.helmet {
    display: flex;
    justify-content: center;
    margin: 25px;    
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 2px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(22, 156, 22);
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: rgba(240, 148, 117, 0.993);
}

.visor {
    position: relative;
    align-items: center;
    margin: 0 auto;
    border-style: none;
    width: 800px;
    height: 630px;
    border-radius: 150px;
    overflow: hidden;
    background-color: rgb(49, 37, 37);
}

#first {
    display: block;
    border: 2px solid grey;
    margin-left: -100px;
    margin-top: -10px;
    margin-bottom: -10px;
    position: relative;
    filter: sepia(100%) hue-rotate(340deg)brightness(70%)saturate(150%);
    width: 1350px;
    height: 1350px;
    top: 0;
    bottom: -50px;
    left: -200px;  
    transition: ease 1s;
}

#dots img {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 55px;
    width: 55px;
    margin: 2px;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
  }
  
  




footer{
    display: grid;
    align-items: center;
}

