{% extends 'todo_app/base.html' %}

{% block content %}

    <div class="post">
        <a class="btn btn-default" href="{% url 'post_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h2>{{ task.task }}</h2>
        {% if task.start %}
            <div class="date">
                <p>Started: {{ task.start }}</p>
            </div>
        {% endif %}
         
        {% if task.end %}
            <div class="date">
                <p>Finished:{{ task.end }}</p>
            </div>
        {% endif %}
        
        {% if task.done %}
            <p>This task has been completed</p>
        {% endif %}
    </div>

{% endblock %}