body{
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#to_do{
    background-color: darkgray;
    width: 500px;
}

#completed{
    background-color: darkgray;
    width: 500px;
}

li{
    width: 100%;

    display: flex;
    justify-content: space-between;
}