{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/coverpage.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class = 'container cover-page d-flex flex-column justify-content-center align-items-center'>
    
    <div class = 'wrapper'>
         <h1 class = 'text-center quartz'>QUARTZ</h1> 

        <div class="container-diamond external rotor-x">
            <div class="container-diamond rotor-y">
                    <div class="triangle bottom face-1"></div>
                    <div class="triangle bottom face-2"></div>
                    <div class="triangle bottom face-3"></div>
                    <div class="triangle bottom face-4"></div>
                    <div class="triangle bottom face-5"></div>
                    <div class="triangle bottom face-6"></div>
                    <div class="triangle bottom face-7"></div>
                    <div class="triangle bottom face-8"></div>
                    <div class="triangle middle-bottom face-1"></div>
                    <div class="triangle middle-bottom face-2"></div>
                    <div class="triangle middle-bottom face-3"></div>
                    <div class="triangle middle-bottom face-4"></div>
                    <div class="triangle middle-bottom face-5"></div>
                    <div class="triangle middle-bottom face-6"></div>
                    <div class="triangle middle-bottom face-7"></div>
                    <div class="triangle middle-bottom face-8"></div>
                    <div class="triangle middle-top face-1"></div>
                    <div class="triangle middle-top face-2"></div>
                    <div class="triangle middle-top face-3"></div>
                    <div class="triangle middle-top face-4"></div>
                    <div class="triangle middle-top face-5"></div>
                    <div class="triangle middle-top face-6"></div>
                    <div class="triangle middle-top face-7"></div>
                    <div class="triangle middle-top face-8"></div>
                    <div class="triangle up face-1"></div>
                    <div class="triangle up face-2"></div>
                    <div class="triangle up face-3"></div>
                    <div class="triangle up face-4"></div>
                    <div class="triangle up face-5"></div>
                    <div class="triangle up face-6"></div>
                    <div class="triangle up face-7"></div>
                    <div class="triangle up face-8"></div> 
                </div>
            </div>

            <a href = "{%url 'dashboard' %}"><button type="button" class="button-cover">Enter</button></a>
    
    </div>

</div>




    

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src = "{% static 'js/coverpage.js' %}" ></script>
</body>
</html>