{% extends parent_template|default:'base.html' %}

{% block title %}
{{ block.super }} - About
{% endblock %}

{% block content %}
<article class="content">
    <header>
        <div class="notification is-primary">
            <div style="margin-bottom: 0rem;">
                <h2 class="title is-2" style="font-family: Lobster">About the Crsytal Compendium</h2>
            </div>
        </div>
    </header>
    <article class="notification is-dark" style="padding-top: 0rem;">
        <div>
            <div class="notification is-primary is-light">
                <section>
                    <h4 class="title is-4" style="margin: 0.75rem;">about the project</h4>
                    <p>
                        The Crystal Compendum is intended as a personal-experience for a user to interact with their own collection of crystals in a new way (it is not intended as a compendium for All Crystals - there are already sites devoted to that). Firstly, it allows the user to upload images of their personal collection and add 'tags' and 'descriptions' to fit their own use. The 'tag' will then help them sort their personal collection quickly when they need know which crystals in their collection meet a specific requirement.
                    </p><br />
                    <p>
                        Secondly, the website allows the user to chronicle their experiences with their crystals. The 'blog' feature is not meant to replace a full-fledged blog-centric program, but rather provide a space for journaling. Tagging journal entries will also help the user to locate previous entries she may find useful for reference. 
                    </p><br />
                    <p>
                        Thridly, the website provides a way to identify and track where to get more crystals. Two approaches are possible: natrual collection and shopping. Natural collecting is called 'rockhounding'; rockhound sites can be added, along with the crystals that can be found at those sites and any critical data needed before embarking on that journey. A more usual approach to expanding one's collection is to visit crystal shops. Due to the abundance of convicing fake crystals, it is important to know which shops are reputable. Also, shops cater to different customersand have different 'feeling', some even impart that 'feeling' to their crystals, so it is nice to be able to know which shops are good for This, and which are good for That.
                    </p>
                </section>
                <section>
                    <h4 class="title is-4" style="margin: 0.75rem">about the care and maintaince of crystals</h4>
                        <p>
                            Cyrstal maintaince requires knowing if a crystal is damaged by direct sunlight, water, or salt (it would be a good idea to tag crystals that have such weakness as 'fades', 'soluble', etc). 
                        </p><br />
                        <p>
                            Let your crystals bath in natural light for a few hours every so often to 'recharge'. Moonlight offers a good 'light bath' and will not fade any crystal; certain crystals will recharge in the 'new moon' instead of the full. 
                        </p>
                <section>
                    <h4 class="title is-4" style="margin: 0.75rem">about the use of crystals</h4>
                    <p>
                        Some crystals have a very specific use set-up by their 'cut' - massage wands, palm stones, and of course, vogels. 
                    </p>
                </section>
            </div>
            
        </div>
        
    </article>
</article>

<div class="context">
    <div class="notification is-dark">
        <div class="notification is-primary" style="margin-bottom: 0rem;">
            <h2 class="title is-2" style="font-family: Lobster">About the Crsytal Compendium</h2>
        </div>
        <div class="notification is-primary is-light">
            <article>
                <section>
                    <h4 class="title is-4" style="margin: 0.75rem;">about the project</h4>
                    <p>
                        The Crystal Compendum is intended as a personal-experience for a user to interact with their own collection of crystals in a new way (it is not intended as a compendium for All Crystals - there are already sites devoted to that). Firstly, it allows the user to upload images of their personal collection and add 'tags' and 'descriptions' to fit their own use. The 'tag' will then help them sort their personal collection quickly when they need know which crystals in their collection meet a specific requirement.
                    </p><br />
                    <p>
                        Secondly, the website allows the user to chronicle their experiences with their crystals. The 'blog' feature is not meant to replace a full-fledged blog-centric program, but rather provide a space for journaling. Tagging journal entries will also help the user to locate previous entries she may find useful for reference. 
                    </p><br />
                    <p>
                        Thridly, the website provides a way to identify and track where to get more crystals. Two approaches are possible: natrual collection and shopping. Natural collecting is called 'rockhounding'; rockhound sites can be added, along with the crystals that can be found at those sites and any critical data needed before embarking on that journey. A more usual approach to expanding one's collection is to visit crystal shops. Due to the abundance of convicing fake crystals, it is important to know which shops are reputable. Also, shops cater to different customersand have different 'feeling', some even impart that 'feeling' to their crystals, so it is nice to be able to know which shops are good for This, and which are good for That.
                    </p>
                </section>
                <section>
                    <h4 class="title is-4" style="margin: 0.75rem">about the care and maintaince of crystals</h4>
                        <p>
                            Cyrstal maintaince requires knowing if a crystal is damaged by direct sunlight, water, or salt (it would be a good idea to tag crystals that have such weakness as 'fades', 'soluble', etc). 
                        </p><br />
                        <p>
                            Let your crystals bath in natural light for a few hours every so often to 'recharge'. Moonlight offers a good 'light bath' and will not fade any crystal; certain crystals will recharge in the 'new moon' instead of the full. 
                        </p>
                <section>
                    <h4 class="title is-4" style="margin: 0.75rem">about the use of crystals</h4>
                    <p>
                        Some crystals have a very specific use set-up by their 'cut' - massage wands, palm stones, and of course, vogels. For all other cases, the crystal should be viewed as a multi-tool. Before employing the crystal, be sure that is 'clear', 'activated', and 'energized' - or will find lackluster results. 
                    </p>
                </section>
            </article>

        </div>
    </div>
</div>
{% endblock %}
