.container {
    /* margin: 0 auto; */
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    /* background-color: grey; */
}

ul{
    text-align: center;
    list-style-position: inside;
    list-style-type: circle;
  }    

#picfloat{
      width: 250px;
      height: 250px;
      border-radius: 50%;
      float: left;
      /* margin-right: 600px; */
  }

section{
      margin: 15px
  }

#quote{
      font-size: 20px;
      margin: 45px;
  }

body {background-color: coral;
}

a{
    color: purple
}
