{% extends "base/base.html" %}

{% block particlesjs %}
{% endblock particlesjs %}

{% block root_content %}
<div id="wrapper">
    {% block navigation %}
        {% include "member/includes/nav.html" %}
    {% endblock navigation %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">

            <div class="container-fluid">
            {% block content %}
            {% endblock content %}
            </div>
        </div>
    </div>
</div>
{% endblock root_content %}

{% block footer %}
{% endblock footer %}
