<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body style = "background-color: hsla(0, 6%, 90%, 0.898)">
    <div class ='container text-center mt-5'>
        <h1>Upload Image</h1>
        <form action = "{% url 'create' %}" method = "POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div>
            <h6>Title</h6>
            <input type = 'text' name = 'text'> <br>
            <input type ='file' name = 'album_cover' accept ='image/*' required> <br>
            <button value='submit'>upload</button>
            </div>
        </form>
    </div>
</body>
</html>


    <!-- {% if obj %}
    <img src = "{{obj.image.url}}" alt ='image'>
    {% endif %}
    {% for x in img %}
    <img src = "{{x.image.url}}" alt ='image'>
    {% endfor %} --> 

<!-- {% if user.is_authenticated %} -->
<!-- <div>
<h2>image upload test</h2>
<form method="POST" enctype='multipart/form-data'>{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button>upload</button>
</form> --> 
  <!-- {% else %} -->

  <!-- You are not allowed -->

  <!-- {% endif %} -->
<!-- </form>
</div>