body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}


h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: green;
}

.site-header .navbar-nav .nav-link {
    color: orange;
}