body{
    margin: 0;

    background-color: darkgrey;
}

#header{
    width: 100vw;
    height: 60px;

    display: flex;

    justify-content: center;
    align-items: center;

    background-color: pink;
}

#header p{
    text-emphasis: bold;
    font-size: 40;
}

#body{
    height: calc(100vh - 60px);
    width: 100vw;
}

#quote_ul{
    padding-left: 10px;
}

#quote_ul li{
    display: flex;

    list-style: none;
    padding-left: 0;
    
    justify-content: space-between;
    align-items: center;
}

#quote_ul li:nth-child(even){
    background-color: rgb(143, 143, 143);
}

#page_arrows{
    display: flex;
    justify-content: center;
}

#left{
    padding: 10px;
}

#right{
    padding: 10px;
}