{% extends 'base.html' %}
{% block content %}
<form action="{% url 'update' todo.id %}" method="POST">
    {% csrf_token %}
    Title: <br><input type="text" name="title" value="{{ todo.title }}"><br>
    Description: <br><textarea name="text" id="" cols="30" rows="10">{{ todo.text }}</textarea>
    Status: <br><select name="status"><br>
        <option value="True">True</option>
        <option value="False">False</option>
    </select>
    <br>
    <input type="submit" value="Update">
</form>
{% endblock %}