body{
    background-color: skyblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 1fr 1fr .2fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
    grid-gap: 2px;
    
}

.head{
    grid-area: nav;
    background-color: royalblue;
    border: 2px solid royalblue;
    font-family: fantasy;
    text-align: center;
}
.interact{
    grid-area: sidebar;
    background-color: skyblue;
    border: 2px solid black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blue;
    object-fit: fill;
}

#quotes{
    background-color: skyblue;
    margin: 0%;
    list-style: none;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid black;
}
li{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* input{
    width: 20%;
}
button{
    width: 20%;
} */