h1 {
    color: firebrick;
  }

  body {
    background: #333;
    color: grey;
    font-family: sans-serif;
    font-size: x-large;
    justify-content: center;
    width: 1400px;
    padding-left: 500px;
    padding-top: 60px;
    /* background: url('https://i.gifer.com/NvL.gif'); */
    background-repeat: no-repeat, repeat;
    overflow: hidden;  
  }

  button {
    width: 120px;
    color: red;
    font-size: medium;
    border-radius: 5cm;
  }