{% extends 'base.html' %}
{% block content %}
    <h1> Welcome to Ushort</h1><br>
    <h2>Add URL to shorten below</h2>
    <form id='add entry' action= "{%url 'Ushort_app:post' %}" method= 'POST'>
        {% csrf_token %}
        <div id='site_name'>
            <input type="text" id="url_shortener" name="url" placeholder="enter URL" />
            <button type="submit">Submit</button><br /><br />
        </div>
    </form>

    <h2 class='text-center'>List of URLS</h2>
{% for link in all_urls %}
<p class='text-center'><a href='https://{{link.url_name}}' target='_blank'>{{link.shortened_url}}</a></p>
<a href= "{% url 'Ushort_app:delete' link.id %}"><button>Delete</button></a><br><br>
{% endfor %}
    
{% endblock %}
    