{% load static %} {% load render_bundle from webpack_loader %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block html_title %}{% endblock html_title %}</title>
    <link
      rel="stylesheet"
      href="{% static 'vendor/css/fontawesome/css/all.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'scss/sb-admin-2.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
      rel="stylesheet"
    />

    {% comment %} Vendor JS {% endcomment %}
    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/js/popper.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'vendor/js/bootbox.min.js' %}"></script>
        {% comment %}
    <script src="{% static 'vendor/js/ekko-lightbox.min.js' %}"></script>
    {% endcomment %}
    <script src="{% static 'vendor/js/pace.min.js' %}"></script>

    {% comment %} Custom JS {% endcomment %}
    <script src="{% static 'js/global.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'js/potty_spotter.js' %}"></script>

    {% block head %}{% endblock head %}

  </head>
  <body id="page-top">
    {% block particlesjs %}
    <div id="particles-js"></div>
    {% endblock particlesjs %}

    <div id="app">
    {% block root_content %}
    {% endblock root_content %}
    </div>

    {% block footer %}
    <div id="footer" class="fixed-bottom">
      <!-- Footer -->
      <footer class="page-footer bg-white border shadow-sm font-small blue">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-2">
          Copyright © 2021
          <a href="https://ttfinder.com/">TT Finder</a>. All
          Rights Reserved
        </div>
        <!-- Copyright -->
      </footer>
      <!-- Footer -->
    </div>
    {% endblock footer %}

    <script src="{% static 'vendor/js/particles.min.js' %}"></script>
    <script src="{% static 'vendor/js/sb-admin-2.js' %}"></script>
  </body>
</html>
