{% load static i18n %}

<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid" style="border-bottom:solid #EDEDED 0.2rem;">

        
        <a class="navbar-brand" href="/">
            <span style="font-size:24px;color:#446a86;" class="font-weight-bold">TT FINDER</span>
        </a>
        

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                {% url 'user-login' as url_user_login %}
                {% url 'member:dashboard' as url_member_dashboard %}

                {% if request.user.is_authenticated %}
                <li class="nav-item {% if request.path == url_member_dashboard %}active{% endif %} ml-3">
                    <a class="nav-link" href="{{ url_member_dashboard }}">
                        <i class="fas fa-sign-in-alt mr-1"></i>
                        {% trans "DASHBOARD" %}
                    </a>
                </li>
                {% else %}
                <li class="nav-item {% if request.path == url_user_login %}active{% endif %} ml-3">
                    <a class="nav-link" href="{{ url_user_login }}">
                        <i class="fas fa-sign-in-alt mr-1"></i>
                        {% trans "SIGN IN" %}
                    </a>
                </li>
                {% endif %}
                {% comment %} <li class="nav-item ml-3">
                    <a class="nav-link" href="#">
                        <i class="fas fa-user-plus mr-1"></i> 
                        {% trans "SIGN UP" %}
                    </a>
                </li> {% endcomment %}
                {% comment %} <li class="nav-item ml-3">
                    <a class="nav-link" href="#">
                        <i class="fas fa-medkit mr-1"></i>
                        {% trans "SUPPORT" %}
                    </a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#">
                        <i class="fas fa-book mr-1"></i>
                        {% trans "DOCUMENTATION" %}
                    </a>
                </li> {% endcomment %}
                {% comment %} <li class="nav-item ml-3">
                    <a class="nav-link" target="_blank" href="/release-news/">
                        <i class="fas fa-rss-square mr-1"></i>
                        {% trans "RELEASE NEWS" %}
                    </a>
                </li> {% endcomment %}
                {% comment %} <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            {% comment %} <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> {% endcomment %}
        </div>
    </nav>
</div>
