body {
    background: #333;
    color: grey;
    font-family: sans-serif;
    font-size: x-large;
    justify-content: center;
    width: 400px;
    padding-left: 500px;
    padding-top: 60px;
    background: url('https://images.squarespace-cdn.com/content/v1/54992035e4b0c49940a59e49/1586714639270-6O27VM796316NPD4R3DH/ke17ZwdGBToddI8pDm48kM67dVXED_yMBjHtlg_uL0sUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcNPDvIAs8f1WUKmWSu3fO4mWtI-U7sMj89S5lCDO4xNISmZH7m9nvOKn--z65CT5h/image-asset.jpeg');
    background-repeat: no-repeat, repeat;
    overflow: hidden;  
  }

  button {
    width: 120px;
    color: red;
    font-size: medium;
    border-radius: 5cm;
  }