header {
    text-align: center;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: grey;
    align-content: center;
}
 p {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
    color: rgba(63, 112, 191, 1.5);
    align-self: flex-end;
} 
.whisper {
    display: flex; 
}
.whisper p:hover {
    color: black;
}
.top_nav {   
    display: flex;
    justify-content: space-evenly;
    background-color: darkcyan;
}
.top_nav a {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.container2 {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    text-align: center;
    list-style-type: none;
    flex: 0 1 auto;
    align-self: auto;
    
}

.container3 {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    text-align: center;
    list-style-type: none;
    flex: 0 1 auto;
    align-self: auto;
    flex-grow: 0;
}
li {
    display: flex;
    width: 30%;
    height: 15em;
    margin-left: 2.5px;
    margin-right: 2.5px;
    padding: 3px;
    background-color: rosybrown;

}