html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header-pic {
    background-position: center;
    background-image: linear-gradient(rgba(235, 21, 21, 0.5), rgba(0, 0, 0, 0.5)), url("Blackhawk.jpg");
    height: 60%;
    background-size: cover;
    font-size:30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header-text {
    border: 1px solid black;
  }

  .header-pic h1{
    top: 0;
    margin: 0;
  }

  .header-pic p{
    /* position: relative; */
    top: 300px;
  }

  .main-body{
    display: flex;
  }

  .left-column{
    flex-basis: 7000px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;    
  }

  .left-column h1{
    text-decoration: underline;
  }

  .ratings{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  dt{display: list-item; list-style-type: square; list-style-position: inside;}

  dd {display: list-item; list-style-type: disc;}
  
  .right-column{
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
  }

  .column-images{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
  }

  img#erj, img#luh, img#oh{
    margin: 20px;
    height: 200px;
    width: auto;
  }

  .bottom{
    padding-bottom: 50px;
    border: 1px solid black;
  }

footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   margin-top: 20px;
}

  footer ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: teal;
  }