{% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        <script type="text/javascript" src="{% static 'js/canvasjs.min.js'%}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@340&display=swap" rel="stylesheet">
        <title>hEDGEr</title>
        
    </head>
    
      <nav class="nav">
        <div class = 'home_buttons'>
          <a href="{%url 'about' %}"><button type="text" class= 'signup_button'>About</button></a>
          <a href="{%url 'home' %}"><button type="text" class= 'login_button'>Logout</button></a>
        </div>
      </nav>

    <body>
        {% block content %}
        {% endblock %}
        <script src="{% static 'js/main.js' %}"></script>
    </body>
    </html>