.container{
   display: grid;
   height: 100vh;
   width: 100%;
   grid-template-areas: 'nav nav nav nav nav nav'
   'time_column content1 content2 content3 content4 content5'
   'time_column content6 content6 forest forest forest'
   'time_column content7 content7 forest forest forest'
   'time_column content8 content8 forest forest forest'
   'time_column content9 content9 forest forest forest'
   'time_column content10 content10 forest forest forest'
   'footer footer footer footer footer';
   grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: .2fr .8fr 1fr 1fr 1fr 1fr;
}
nav{
    background-color: aqua;
    grid-area: nav;
}
#time_column{
    background-color: aquamarine;
    grid-area: time-column;
}
#content1{
    background-color: #3FBF59;
    grid-area: content1;
}
#content2{   
    background-color: #3FBF59;
    grid-area: content2;
}
#content3{
    background-color: #3FBF59;
    grid-area: content3;
}
#content4{
    background-color: #AD2AD4;
    grid-area: content4;
}
#content5{
    background-color: #462AD4;
    grid-area: content5;
}
#content6{
    background-color: #2A5AD4;
    grid-area: content6;
}
#content7{
    background-color: #2AD4A4;
    grid-area: content7;
}
#content8{
    background-color: #2AD632;
    grid-area: content8;
}
#content9{
    background-color: #1960E5;
    grid-area: content9;
}
#content10{
    background-color: #9019E5;
    grid-area: content10;
}
img{
    background-color: grey;
    grid-area: forest;
}
footer{
    background-color: cadetblue;
    grid-area: footer;
}
