@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

*{
  font-family: "Roboto Mono", monospace;
  padding: 0px;
  margin: 0px;
}

.primary-navigation > img{
  width: 50px;
  align-self: center;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.primary-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
}

/* /////////////////////////////////////////////////
/////////////FOR THE SUB NAVIGATION//////////////////
///////////////////////////////////////////////// */

.sub-navigation li{
  list-style: none;
  margin: 10px;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
}
.sub-navigation{
  background-color:#232F3E;
}

.sub-navigation ul{
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-evenly;
}

.primary-navigation > p{
  color: white;
}

.product-choices{
  width: 200px;
  border-radius: 5px;
}

.sub-navigation li:hover{
color: white;
background: black;
transition: .2s;
}


body{
  background-image: url('https://i.pinimg.com/originals/20/2e/72/202e724bccf2fded90c04dbff2425d62.jpg');
}

/* /////////////////////////////////////////////////
/////////////FOR THE MAIN BODY//////////////////
///////////////////////////////////////////////// */
main img{
  width: 750px;
  display: block;
  margin: auto;
}
main{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-row-gap: 10px;
  padding: 20px;

}