[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
celery = "==4.4.2"
sorl-thumbnail = "12.7.0"
django-cleanup = "*"

[dev-packages]

[requires]
python_version = "3.8"
