body{
    background-color:rgb(16, 17, 12) ;
}

.container{
    
    border-style: outset;
    border-color: coral;
    border-width: 10px;
    

   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px;
   font-weight: normal;
   /* shorthand way to write above */
   /* font: normal 16 px Arial, Helvetica,sans-serif;  */

   line-height: 1.6em; 
   /* Use "em" for font not px */
   margin-top: 20px;
   border-radius: 30px;
   background-color: rgb(185, 201, 223); 

}     


.main-header{
    padding: 5px;
    text-align: center;
    text-transform: uppercase

    
    
}
div.background{
    background-color: rgb(185, 201, 223);
    margin: auto;  
    /* width: 10%; */
}
.bird{
    display: block;
    margin: 20px;
    border:3px black solid;
    padding:20px;
    /* makes the corners round */
    border-radius: 15px;
    /* background-color: cornflowerblue; */
    /* opacity: 0.6; */
    float:left;
}
   

.intro{
    
    margin: auto;
    width: 50%;
    /* border:1px #cccccc solid; */
    padding: 10px;
    border-radius: 15px;  
 
}

.places{
    margin: auto;
    width: 54%;
    
}
.places li{
    list-style-type: none;
    padding: 1px;

}

.quote{
    margin: auto;
    width: 50%; 
}