body{
    margin: auto;
    background-color: cornflowerblue;
}

a {
    color: whitesmoke;
}

img {
    float: left;
    border-radius: 80%;
  }

h1{
    color: red;
}
h3{
    color: brown;
    padding: 5px;
    margin: 5px;
}
#Q{
    font-style: italic;
}
ul{
    text-indent: 50px;
    list-style-type: circle;