{% extends "member/base.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block html_title %}
{{ html_title }}
{% endblock html_title %}

{% block head %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
{% endblock head %}


{% block content %}
    <div class="mt-4"></div>
    <h2>Restroom - {{ object.name }}</h2>
    <h5>LATITUDE: {{ object.latitude}}</h5>
    <h5>LONGITUDE: {{ object.longitude}}</h5>
    <div id="my_location">
        <div id="mapid" style="height: 300px;"></div>
    </div>

    <script>
        renderMap([{{ object.latitude}}, {{ object.longitude}}])
    </script>
{% endblock content %}