<div class="modal fade modal_form" role="dialog" aria-labelledby="modal_form_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modal_form_title">{% block form_title %}{% endblock %}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
