#container{
    display: inline-flex;
    align-items: center;
    /* grid-template-areas: 
    'head',
    'main',
    'footer'; */
    border: 2px solid black;
}

.boxes{
    position: relative;
    width: 100%;
    border: 2px solid black;
}

#head{
    grid-area: 'head';
    /* width: 100%; */
}

#main{
    grid-area: 'main';
    width: 100%;
    /* border: 2px solid black; */
}

#foot{
    grid-area: 'footer';
    /* border: 2px solid black; */
}