{% extends 'base.html' %}
{% block content %}
<h2 class="text-center mt-3">Add URL you would like to shorten.</h2>
<form class="mt-3" action="{% url 'add_url' %}" method="POST">
    {% csrf_token %}
    <div id="author-form" class="form-group">
        <label for="book_title">URL Shortener</label>
        <input type="text" class="form-control" id="url_shortener" name="url" placeholder="Enter URL to Shorten"><br><br>
        <button type="submit" class="btn btn-primary mb-2 mt-3">Shorten</button>
    </div>
</form>

<h2 class="text-center">URL List</h2>
{% for url in my_urls %}
    <p class="text-center mt-3 mb-2"><a href="https://{{url.url_name}}" target="_blank">{{url.short_url}}</a></p>
{% endfor %}
{% endblock %}