*::before, *::after, * {
    box-sizing: border-box;
}

body{
 
    margin: 30 5 0 5;
    
}

.container{
    display: flex;
    flex-direction: row;
    padding: 5%;
    width: 80%;
    height: auto;
    border: solid 1px;
}