{% extends "member/base.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block html_title %}
{{ html_title }}
{% endblock html_title %}

{% block content %}
    <div class="mt-4"></div>
    <input type="hidden" id="ajax_restroom_status_update" value="{% url 'object:ajax_restroom_status_update' %}">
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">

    {% include "member/includes/action_toolbar.html" %}
    {% comment %} 
    {% include "instapanel/model_tutor/includes/table_filter.html" %}
    {% endcomment %}

    <div class="border bg-white rounded p-2 mb-1">
        <span class="mr-3">TOTAL: <b>{{ listview_data.total_object }}</b></span>
        <span class="mr-3">APPROVED: <b>{{ listview_data.total_approved }}</b></span>
        <span class="mr-3">PENDING: <b>{{ listview_data.total_pending }}</b></span>
        <span class="mr-3">REJECTED: <b>{{ listview_data.total_rejected }}</b></span>
    </div>
    <div class="row">
        <div class="col-12">
            {% for table in tables %}
                {% render_table table %}
            {% empty %}
                {% if table %}
                    {% render_table table %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}