<!-- {% extends "base/base.html" %}
{% load i18n bootstrap %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock head %}

{% block html_title %}{% trans "Login | TT Finder" %}{% endblock html_title %}

{% block root_content %}
{% include "base/nav.html" %}

<div class="container mt-4 mb-2">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="bg-white rounded p-4 shadow-sm">
                <div class="text-center">
                    <h2>{% trans "USER LOGIN" %}</h2>
                </div>
                {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <div class="text-right">
                        <div class="g-recaptcha text-right" data-sitekey=""></div>
                        <button class="btn btn-primary mt-1" type="submit">
                            <b>{% trans "LOGIN" %}</b>
                        </button>
                    </div>
                </form>
                <div class="col-12 col-md-6 offset-md-3 text-right">
                    Forgot Password? <a href="{% url 'user:password_reset' %}">Click Here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock root_content %} -->
