{% load static %}

<html>
    <head>
        <title>Django Girls blog</title>
        
        
        <link rel="stylesheet" href="{% static 'blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>(published: {{ post.published_date }})</p>
                <p>{{ post.text|linebreaksbr }}</p><br>
            </div>
                
        {% endfor %}      
    </body>
</html>