{%extends 'base.html'%}
{%block content%}
<div class='container'>
    <a class='' href="{% url 'add_post'%}">Add a blog post</a>

    {%for blog in blogs%}
    <div class='mt-3 mb-3'>
        <p>Title : {{blog.title}}</p>
        <p>id: {{blog.id}}</p>
        <p>Description: {{blog.text}}</p>
        <p>Pub Date: {{blog.pub_date}}</p>
        <a href="http://localhost:8000/details/{{blog.id}}">See post details</a>
    </div>
    {%empty%}
    <h1 class= 'mt-5'>Post something!</h1>
    {%endfor%}
</div>

{%endblock%}