@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


body {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-evenly; */
    /* text-align: center;
     */
    color: rgb(58, 53, 53);
    font-family: 'Roboto';
}
/* _____________________Landing_________________________________________ */
.landing_page{
    background-color: #f1456a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 89%;
}
.vault {
    text-align: center;
    justify-content: center;
    padding: 0%;
    
}
.Merka{
    color: rgb(189, 211, 191);
    width: 50%;

}
input{
    padding: 20px;
    width: 250px;
    height: 0px;
    border-radius: 5px;
    border-color: black;
    border-width: medium;
    font-size: 17px;
    display: block;
    margin: auto;
}
.right_third{
    background-image: url("C:/Users/17196/Desktop/Personal/Crypto/Maker/Bricks_right.jpg");
    background-size: 100%;
    font-size: 168.4;;
    /* text-align: right; */
    justify-self: right;
    width: 30vw;
    height: 100vh;
    opacity: 50%;

}
.left_third{
    background-image: url("C:/Users/17196/Desktop/Personal/Crypto/Maker/Bricks_left.jpg");
    background-size: 100%;
    font-size: 168.4;;
    justify-self: left;
    width: 30vw;
    height: 100vh;
    opacity: 50%;
}
/* -----------------------Elemental------------------------------------- */
.Elemental{
    background-color: rgb(150, 140, 145);
    color: cornsilk;
    font-family: DauphinPlain;
    text-align: center;
    justify-content: center;
    padding: 11%;
}
/* =======================FUll Stack==================================== */
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(0, 59, 78);
    grid-column-gap: 1px;
    grid-row-gap: 5px;
    justify-content: center;

}
.boxes{
    background-color: rgb(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    color: white;                     
    line-height: 1;
    border-radius: 25px;
    border-color: goldenrod;
    border-style: solid;
    width: 50px;
    height: 50px;
}
